.env
.env.*
!.env.example
!.env.local.example
!.env.test.example

.DS_Store
.idea/
.pytest_cache/
.ruff_cache/
.venv/
**/__pycache__/
*.py[cod]

checkpoints.db
output/
tmp/
privatecredentials/*
!privatecredentials/.gitkeep
